*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#101010;
color:white;
}

header{
background:#ff9800;
padding:20px;
text-align:center;
font-size:32px;
font-weight:bold;
}

.container{
padding:20px;
text-align:center;
}

button{
padding:15px 30px;
margin:10px;
border:none;
border-radius:10px;
font-size:18px;
cursor:pointer;
}

.play{
background:#00c853;
color:white;
}

.inventory{
background:#2196f3;
color:white;
}

.shop{
background:#ff9800;
color:white;
}

.help{
position:fixed;
top:15px;
right:15px;
width:55px;
height:55px;
border-radius:50%;
background:#ff9800;
color:white;
font-size:28px;
font-weight:bold;
}

#helpBox{
display:none;
position:fixed;
top:80px;
right:10px;
width:280px;
background:#222;
padding:20px;
border-radius:12px;
}

.card{
background:#1d1d1d;
margin:15px;
padding:15px;
border-radius:12px;
}

footer{
position:fixed;
bottom:0;
width:100%;
background:#222;
padding:12px;
text-align:center;
}
input{
width:80%;
max-width:350px;
padding:15px;
font-size:18px;
border-radius:10px;
border:none;
margin:15px;
}
